 body{
                height: 2000px;

            }
            .relative{
                margin-top: 200px;
                position: relative;
                height: 100px;
            }
            .fixed{

                position: fixed;
                width: 100%;
                top: 0px;
				z-index: 999999999999;
			}
			
			.fixcolor{
				background: gold;
			}