
<div th:fragment="myheader" th:remove="tag">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Website bán hàng đơn giản</title>
		<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i}">
		<link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/libs/font-awesome/css/font-awesome.min.css}"> 
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
		<link rel="stylesheet" type="text/css"  th:href="@{/css/scrollHeader.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
		<link rel="stylesheet" th:href="@{/css/scrolling.css}">
	<	<link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
          <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css}" rel="stylesheet" type="text/css" />
		  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  </div>